a {
  color: #404040;
  transition: 0.7s;
}

a:hover {
  color: #F60A20 !important;
}

body {
  color: #404040;
}

.logo {
  mask: #F60A20;
}

.fulltilt {
  text-align: left;
  font-size: 1.3em;
  font-family: 'Raleway';
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #262526;
  padding-left: 0.3em;
}

.statement {
  font-family: 'Muli';
  font-size: 4.5em;
}

.red {
  color: #F60A20;
}

.dark-grey {
  color: #262526;
}

.hide {
  opacity: 0;
  transition: 0.7s;
}

.hide:hover {
  opacity: 1;
}

/* Bulma */

.nav {
  height: auto;
}

.nav-toggle {
    height: auto;
    width: 5rem;
}

.nav-item {
  line-height: 0.8;
}

.nav-item a, a.nav-item {
    color: #404040;
    font-family: 'Muli';
    font-size: 1.1em;
    letter-spacing: 2px;
}

.nav-item img {
  max-height: none;
}

.nav-toggle.is-active span {
  background-color: #F60A20;
}

.nav-toggle span {
  height: 2px;
}

.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold; 
}

@media screen and (max-width: 768px) {

.statement {
  font-family: 'Muli';
  font-size: 1.5em;
}

}

font-family: 'Muli', sans-serif;
font-family: 'Raleway', sans-serif;
