<!doctype html>
<title>vue tut</title>
<script src="https://unpkg.com/vue"></script>

<div id="app">{{ message }}</div>

<div id="app-2">
  <!-- : is used for attributes -->
  <span v-bind:title="message">
    Hover
  </span>
</div>

<div id="app-3">
  <span v-if='seen'>
    Now you see me
  </span>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p> {{ message }}</p>
  <button v-on:click="reverseMessage">Remi Reversal</button>
</div>

<div id="app-6">
  <p> {{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
      </todo-item>
  </ol>
</div>

<div id="app-8">
  <button v-bind:class="classTest">hua</button>
</div>

<div id="watch-example">
  <p>
    Ask a yes/no question:
    <input v-model="question">
  </p> 
  <p>{{ answer }}</p>
</div>

<ul id="example-1">
  <li v-for="item in items">
    {{ item.message }}
  </li>
</ul>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="main.js"></script>
