extends layout

block content
  section.hero.is-large
    .hero-body
      .container.has-text-centered
        h1.title.is-1 Welcome to Msgr!
        h1.subtitle.is-6 Already have an account? Click 
          a(href='/account/login') here 
          to log in.
      
