span {
  display: inline-block;
}

.card-divider {
  margin: 0;
}

.card-content {
  padding: 1rem;
}

.logo {
  font-family: 'Lily Script One', cursive;
  font-size: 1.2em;
}

.fa-lg {
  line-height: 1.2em;
}
