<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h3>title</h3>
  <form id="form_add_student" name="addstudent" method="post" action="/addstudent">
    <span>Name</span>
    <input id="input_name" type="text" placeholder="student" name="student">
    <button id="submit_student" type="Submit">Submit</button>
  </form>
</body>
</html>
