extends layout

block content
  h1.title.is-1= article.title
  h5.subtitle.is-5 Written by #{article.author}
  p= article.body
  hr
  a.button(href='/articles/edit/'+article.id) Edit
  button.button(data-id=article.id)#delete Delete
