doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title knowledgebase
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css')
  body
    nav.nav
      .nav-left
        a.nav-item articles
      span.nav-toggle#hamburger
        span
        span
        span
      .nav-right.nav-menu#menu
        a.nav-item(href='/') home
        if user
          a.nav-item(href='')= user._id
          a.nav-item(href='/articles/add') add articles
          a.nav-item(href='/users/logout') logout
        else
          a.nav-item(href='/users/register') register
          a.nav-item(href='/users/login') login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class='notification is-danger') #{error.msg}
      block content
        br
    hr
    footer
      p Copyright &copy; 2017
    script(src='/main.js')
