extends layout

block content
  form(method='POST' action='/users/register')
      .field
        label Name:
        input.input(name='name', type='text')
      .field
        label Email:
        input.input(name='email', type='text')
      .field
        label Username:
        input.input(name='username', type='text')
      .field
        label Password:
        input.input(name='password', type='password')
      .field
        label Password:
        input.input(name='passwordCheck', type='password')
      input.btn.btn-primary(type='submit', value='Submit')
        
